
<% layout("/layouts/boilerplate") %>

<div class="row ">
  <div class="col-12  ">
    <h3><%= listing.title %> </h3>
    <br>
    <div class="card  show-card listing-card">
      <img src="<%= listing.image.url %>" class="card-img-top show-img"  alt="listing_image">
      <br>
        <div class="card-body">
          <p class="card-text"> Owned by <i> <%= listing.owner.username%></i> </p>
          <p class="card-text"> "<%= listing.description %>"</p>
          On price &#8377; <%= listing.price.toLocaleString() %>/day <br> <br>
          <%= listing.location %>,
          <%= listing.country %><br>
        </div>
        <br>
        <% if(currUser && listing.owner._id.equals(currUser._id)) { %> 
          <div class="flexbtn">
            <form action="/listings/<%= listing._id %>/edit">
              <button class="btn btn-success hover">Edit</button>
            </form>
            <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
              <button class="btn  btn-danger btn-delete hover ">Delete </button>
            </form>
          </div>
     
         <% } %>
  
   </div>
  </div>
</div>


  <div class="col-6 offset-3">
      <% if(currUser) { %>
        <hr>
      <h4>Leave a Review</h4>

      <form action="/listings/<%= listing.id %>/reviews" method="POST" novalidate class="needs-validation">
        <div class="mb-3 mt-3">
            <label for="rating" class="form-label">Rating</label>
            <fieldset class="starability-growRotate">
                <input type="radio" id="no-rate" class="input-no-rate" name="review[ratings]" value="0" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="review[ratings]" value="1"  required/>
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="review[ratings]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="review[ratings]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="review[ratings]" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="review[ratings]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
        </div>
    
        <div class="mb-3 mt-1">
            <label for="comment" class="form-label">Comments</label>
            <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
            <div class="invalid-feedback">Please add some comments for the review.</div>
        </div>
    
        <button class="btn btn-success btn-delete hover">Submit</button>
    </form>
    
      <% }%>
<br>

  </div>
<hr>

<% if(listing.review.length>0) {%>
  <div class="row">
    <h3>All Reviews</h3>
    <div class="col  reviewBox">
     
    <% for(review of listing.review) { %>
      <div class="card reviewCard">
          <div class="card-body">
          <h6 class="card-title"><i>@<%= review.author.username %></i></h6>
          <p class="starability-result card-text" 
              data-rating="<%=review.ratings%>">
          </p>
          <p class="card-text"><%= review.comment%></p>
          </div>

          <form class="mb-3" method="POST"
                action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
            <button class="btn btn-danger btn-delete hover">Delete</button>
          </form>
      </div>
    <% } %>
  </div>
  </div>
  <hr>
  <% } %>

  <h3>Where You'll be..</h3>
  <div class="row">
      <div class="col-12  mb-5">
          <div id="map" style="height: 40vh; width: auto;"></div>
      </div>
  </div>

  <script>

    let center = [<%=coordinates%>];
    console.log(center+"this is the center")
        var map = tt.map({
            key: "tG7FJD4ql58zMQTe51Gc1CeG0c49LPS8",
            container: "map",
            center: center,
            zoom: 15,
        });
        map.on('load', () => {
            new tt.Marker().setLngLat(center).addTo(map);
        });
   
</script>


